<h1 align="left">Action</h1>
<%= link_to "Home", users_path %> |
<%= link_to "Profile", current_user %> |
<%= link_to "Action", signout_path %>
<hr />
<p align="left"><%= current_user.name %>, you could do these:</p>
<% if current_user.isCandidate == 'company' %>
<%= link_to "Post a new Job", users_path %>
<% else %>
<%= link_to "Apply a new Job", users_path %>
<% end %><br><br>
<%= link_to "View Posted Jobs", users_path %>



<hr />
<%= button_to "Sign out", signout_path, method: "delete" %>



